Reset CSS
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
HTML5 display-role reset for older browsers
 article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	margin:0 auto;
}
p{
	text-align: right;
	font-size: 10pt;
}
ol, ul {
	list-style: none;
	font-size: 20pt;
}
h1{
	font-size: 30pt;
	color: rgb(15, 1, 1);
}
blockquote, q {
	quotes: none;
}

@import url('https://fonts.googleapis.com/css?family=Lato');

body, html{
 height: 100%;
 background: #222222;
font-family: 'Lato', sans-serif;
}
.signature {
margin: 10px auto;
padding: 10px 0;
width: 100%;
}

.signature p{
text-align: center;
font-family: Helvetica, Arial, Sans-Serif;
font-size: 0.85em;
color: #AAAAAA;
}

.signature .much-heart{
display: inline-block;
position: relative;
margin: 0 4px;
height: 10px;
width: 10px;
background: #AC1D3F;
border-radius: 4px;
-ms-transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
}

.signature .much-heart::before,
.signature .much-heart::after {
 display: block;
 content: '';
 position: absolute;
 margin: auto;
 height: 10px;
 width: 10px;
 border-radius: 5px;
 background: #AC1D3F;
 top: -4px;
}

.signature .much-heart::after {
bottom: 0;
top: auto;
left: -4px;
}

.signature a {
color: #AAAAAA;
text-decoration: none;
font-weight: bold;
}


/* Styles for alert...
by the way it is so weird when you look at your code a couple of years after you wrote it XD */

.alert {
box-sizing: border-box;
background-color: #BDFFE1;
width: 100%;
position: relative;
top: 0;
left: 0;
z-index: 300;
padding: 20px 40px;
color: #333;
}

.alert h2 {
font-size: 22px;
color: #232323;
margin-top: 0;
}

.alert p {
line-height: 1.6em;
font-size:18px;
}

.alert a {
color: #232323;
font-weight: bold;
}â€
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.level{
	width: 30px;
	height: 40px;
	float: left;
}
.category{
	width: 40px;
	height:40px;
	float: left;
}
*{
	-moz-box-sizing:border-box;
	-moz-font-smoothing: antialiased;
	-webkit-box-sizing:border-box;
	-webkit-font-smoothing: antialiased;
	box-sizing:border-box;

}


.row:after{
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
[class*='col-'] {
	float:left;
	min-width: 319px;
}
.col-12{
	width: 100%;
}
.col-11{
	width: 91.66%;
}
.col-10{
	width: 83.33%;
}
.col-9{
	width: 75%;
}
.col-8{
	width: 66.66%;
}
.col-7{
	width: 58.33%;
}
.col-6{
	width: 50%;
}
.col-5 {
	width: 41.66%;
}
.col-4 {
	width: 33.33%;
}
.col-3 {
	width: 25%;
}
.col-2 {
	width: 16.66%;
}
.col-1 {width: 8.33%;
}
.beside {
	display: inline-block;
}
/*Stuff.. things..*/
body {
	padding-top:20px;
	margin-top: 10%;
}
.contentWrapper {
	margin-top: 30px;
	padding:0 20px 30px 20px;
	background-color: #fff;

}
.contentWrapper, .footer{
	margin: 0 auto;
	max-width: 1000px;
	min-width: 320px;
	-moz-box-shadow:   	0px 18px 38px -13px rgba(100, 100, 100, 1);
	-webkit-box-shadow: 0px 18px 38px -13px rgba(100, 100, 100, 1);
	box-shadow:         0px 18px 38px -13px rgba(100, 100, 100, 1);
}
.header:before, .header:after {
	content: "";
	position: absolute;
	z-index:2;
}
.header:before{
	border-bottom: 12px solid transparent;
	border-right: 20px solid #9B4746;
	left: 0;
	margin-top: 55px;
}
.header {
	background-color: #D95A3A;
	border-bottom: 3px dashed #B71C1A;
	border-left: 1px solid #B71C1A;
	border-right: 1px solid #B71C1A;
	border-top: 3px dashed #B71C1A;
	color:#fff;
	padding:20px;
	position: relative;
	right: 40px;
	text-transform: uppercase;
	width: 1040px;
	min-width: 320px;
	z-index:3;
}
.header:after{
	border-bottom: 12px solid transparent;
	border-left: 20px solid #9B4746;
	margin-top: 23px;
	right: 0;
}
.ribbon {
	position: absolute;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	min-width: 72%;
	z-index: -1;
}
.ribbon:before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 33px solid transparent;
	border-bottom: 33px solid transparent;
	border-left: 33px solid #fff;
}
.ribbon:after{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	right:0;
	border-top: 33px solid transparent;
	border-bottom: 33px solid transparent;
	border-right: 33px solid #fff;
}
.red{
	background-color: #D95A3a;
	border-bottom: 3px dashed #B71C1A;
	border-top: 3px dashed #B71C1A;
	height: 72px;
	top: 38px;
}
.orange {
	background-color: #FFB473;
	border-bottom: 3px dashed #E7842D;
	border-top: 3px dashed #E7842D;
	height: 72px;
	top: 183px;
}
h1 {
	color:rgb(175, 18, 18);
	font-family: "Julius Sans One";
	font-size: 50pt;
	font-weight: bold;
	padding-right: 40px;
	text-align: center;
}
h2 {
	background-color: #FFB473;
	border-bottom: 3px dashed #E7842D;
	border-right: 1px solid #E7842D;
	border-top: 3px dashed #E7842D;
	font-family: "Julius Sans One", sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 10px;
	padding: 20px;
	position: relative;
}
h2:after{
	border-bottom: 12px solid transparent;
	border-left: 19px solid #BD8656;
	content: "";
	margin-top: 47px;
	position: absolute;
	right: 0;
	z-index:2;
}
img{
	position: relative;
	width: 80%;
	height: 50%;
	margin-top: 50%;
	margin-right: auto;
}
.dirIng{
	font-family: "Open Sans", sans-serif;
}
.dirIng > p{
	padding: 0 20px 0 20px;
	text-align: center;
	line-height: 1.2em;
}
.dirIng > *{
	margin-top: 20px;
	padding: 0 15px 0 15px;
}
.ingredients {
	text-align: right;
}
.ingredients p {
	font-size:1.2em;
	line-height: 1.2em;
}
.ingredients h2 {
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-left: 2px solid #E7842E;
	border-top-left-radius: 3px;
	margin-left: -6px;
	margin-right: -50px;
	padding-right: 50px;
	z-index: 2;
}
/* .hole {
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	background-color: black;
	border-radius: 20px;
	height: 76px;
	margin-left: 5px;
	margin-top: 27px;
	padding: 0;
	position: absolute;
	width: 10px;
} */
.directions h2 {
	margin-right: -58px;
	margin-top: 22px;
	padding-left: 30px;
	z-index: 1;
	
}
.ingredients ul {
	margin-top: 30px;
}
.directions {
	margin-top: 20px;
}
.directions:before{
	border-left: 1px solid #D8D8D8;
	content: "";
	height:327px;
	margin-left: -4px;
	margin-top: 104px;
	position: absolute;
}
.directions p{
	font-size: 1.2em;
	line-height: 1.4em;
	padding-left: 23px;
}
.directions p:nth-child(2){
	margin-top: 20px;
}
li {
	line-height: 1.4em;
}
li strong {
	font-weight: bold;
}
li strong:after{
	content:" - ";
}
.footer{
	background-color: #fff;
	height: 45px;
	margin-top: 4px;
	position: relative;
}
.footer ul {
	font-family: "Open Sans",sans-serif;
	font-weight: 400;
	padding-top: 6px;
	text-align: center;
	text-transform: uppercase;
}
.footer ul li{
	border-right: 1px solid #D8D8D8;
	display: inline-block;
	padding: 3px 10px 3px 10px;
}
.footer ul li:hover{
	cursor: pointer;
	font-weight: 700;
}
.footer ul li:last-child{
	border-right:0;
}  