
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');
html, body, h1, h2, h3, h4, h5, h6, p, li, ol, ul,
html, body { min-height: 100%; }
body {
  
/* background-color: #345;
background-image: linear-gradient(to bottom, #0009, transparent); */
color: #eee;
font-family: 'Lato', sans-serif;
font-size: 62.5%;
padding: 0 20px;
box-sizing: border-box;
}
.links {
background-color: rgb(144, 14, 14);
background-image: linear-gradient(to bottom, #0003, transparent);
border-bottom: 1px solid #0003;
box-shadow: 0 0 32px #0003;
font-size: 2em;
font-weight: 300;
}
.links > a {
color: rgb(226, 231, 238);
padding: .75em;
text-align: center;
text-decoration: none;
transition: all .5s;
}
.links > a:hover {
background: #110e0e06;
color: #adf;
}

.links > .line {
background: #68a;
height: 1px;
pointer-events: none;
}
/* #pc{
       background-image: url("../assets/אוכל5.png");
   background-repeat: no-repeat;
   width: 750px;
   background-size:cover;
} */

/* The Magic */
#header {
position: fixed;
top: 0;
left: 0;
right: 0;
}
.links {
display: grid;
grid-template-columns: repeat(var(--items), 1fr);
position: relative;
}
.links > .line {
opacity: 0;
transition: all .5s;
position: absolute;
bottom: 0;
right: var(--right, calc(100% / var(--items) * (var(--index) - 1)));
width: var(--width, calc(100% / var(--items)));
--index: 0;
}
.links > a:hover ~ .line {
opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }
.links > a:nth-of-type(4):hover ~ .line { --index: 4; }
.links > a:nth-of-type(5):hover ~ .line { --index: 5; }
.links > a:nth-of-type(6):hover ~ .line { --index: 6; }
.links > a:nth-of-type(7):hover ~ .line { --index: 7; }
.links > a:nth-of-type(8):hover ~ .line { --index: 8; }
.links > a:nth-of-type(9):hover ~ .line { --index: 9; }
.links > a:nth-of-type(10):hover ~ .line { --index: 10; }
    .links > a:last-of-type:hover ~ .line { --index: var(--items); }


    body {
        background-color: #e6e6e6;
        margin: 0; }
       p, a {
        font-family: "Oxygen", sans-serif;
        color: #262626;
        text-decoration: none; }
       .flex-card-img {
        height: inherit;
        width: inherit; }
       #nav-bar {
        background-image: linear-gradient(#23a066, #1f8b58);
        list-style: none;
        display: inline-block;
        position: fixed;
        top: 0;
        margin-bottom: 60px;
        height: 60px;
        width: 100%; }
        #nav-bar #header-image {
          padding: 0 15px;
          float: left;
          display: flex;
          justify-content: center;
          align-items: center; }
          #nav-bar #header-image .page-logo-img {
            height: 40px;
            width: 40px;
            border-radius: 50%; }
          #nav-bar #header-image p.page-logo-text {
            font-size: 1.2rem;
            font-weight: 800;
            margin-left: 5px;
            color: #fff; }
       