<div id="pc">
<header id="header">
	<nav class="links" style="--items: 4;">
		<a href="register">הצטרפות</a>
		<a href="allRecipies">כל המתכונים</a>
		<a href="login">התחברות</a>
		<a href="logOut">יציאה</a>
		<span class="line"></span>
	</nav>
</header>

	<router-outlet></router-outlet>
</div>
	 <nav id="nav-bar" class="navbar">
	   <a href="#" id="header-image">
		 <img class="page-logo-img" src="https://cdn.pixabay.com/photo/2018/08/31/14/33/apple-pie-3644790_1280.png" alt="pie logo">
		 <p class="page-logo-text">Recipies By S&M</p>
	

	

