
<img id="picture" src= '../../assets/אוכל3.png'>
 <body id="pict"  >
<div class="login-box">
  <h2>Login</h2>
  <form [formGroup]="myForm" (ngSubmit)=connection()>
    <div class="user-box">
      <input type="text" formControlName="name" name="" required="">
      <label>Username</label>
      <div  *ngIf="myForm.controls.name.touched&&myForm.controls.name.errors" id="req">*שם זהו שדה חובה</div>
    </div>
    <div class="user-box">
      <input type="password" formControlName="password" name="" required="">
      <label>Password</label>
    </div>
    <div id="submit" (click)="connection()" >
    
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </div>
  </form>
</div></body>